.form__group {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0px 5px;
    padding: 20px;
    width: auto;
}

.form__group input {
    width: auto;
}

.form__group>* {
    margin: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #38caef;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::-webkit-search-cancel-button {
    cursor: pointer;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

/* ----------------------------------- */

.filter-container {
    margin: 4px;
}

.filter-select-label {
    color: #fff;
    font-size: 25px;
}

.filter-select-favs {
    width: 131px
}

.filter-select,
.filter-select-favs {
    background-color: transparent;
    border: #6e6e6e 1px solid;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}


.filter-select option,
.filter-select-favs option {
    background-color: #121212;
    color: #fff;
    cursor: pointer;
}

.filter-select::-ms-expand {
    display: none;
}

.filter-select::before {
    content: '▼';
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {

    .filter-select,
    .filter-select-favs {
        padding: 4px;
        border-radius: 4px;
        font-size: 15px;
    }

    .form__field {
        font-size: 12px;
        padding: 5px 0;
    }
}